.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfileLabel {
  /* width: 100%;
  display: inline-block; */
}

.inputfile + label {
  /* width: 100%;
  display: inline-block; */
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
label {
  font-size: 1rem;
  z-index: 0;
}

label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
